@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Instrument+Serif:ital@0;1&display=swap");
:root {
  --color-primary: #C621A6;
  --color-primary-light: #c621a54f;
  --color-primary-light: rgba(198, 33, 166, .08);
  --color-border-input: oklch(0.928 0.006 264.531);
  --color-gray-100:oklch(0.707 0.022 261.325);
  --color-gray-200:oklch(0.871 0.006 286.286);
  --color-gray-300:oklch(81.093% 0.00009 271.152);
  --color-white: #fff;
  --font-primary: "Instrument Sans", sans-serif;
  --color-bg-success: #dcf8e7;
  --color-text-success: #207544;
  --color-border-success: #91e4b3;
  --color-bg-error: oklch(0.936 0.032 17.717);
  --color-text-error: oklch(0.505 0.213 27.518);
  --color-border-error: oklch(0.808 0.114 19.571);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  outline: none;
  font-family: inherit;
  font-size: inherit;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

input,select {
  border: none;
  background-color: none;
  outline: none;
  font-family: inherit;
}

input::placeholder{
  font-family: inherit;
}

input::placeholder{
  color: var(--color-gray-100);
}

input:disabled:hover, select:disabled:hover{
  border-color: var(--color-border-input);
  box-shadow: none;
}


a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

label {
  display: block;
  font-size: 0.875rem;
  text-align: left;
  margin-bottom: 0.25rem;
  font-weight: 500;
}

::-webkit-scrollbar{
  width: 10px;
  background-color: var(--color-border-input);
}

::-webkit-scrollbar-thumb{
  background-color: var(--color-gray-300);
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.input {
  width: 100%;
  height: 44px;
  border: 1px solid var(--color-border-input);
  padding: 0 0.875rem;
  border-radius: 8px;
  transition: border-color 0.4s ease, box-shadow 0.4s ease;
}

.input:is(:hover, :focus, :active) {
  border-color: var(--color-primary);
  box-shadow: 0 0 0 2px rgba(198, 33, 165, 0.25);
}

.btn {
  padding: 1rem;
  font-size: 0.875rem;
  border-radius: 8px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.btn--primary {
  color: var(--color-white);
  background-color: var(--color-primary);
  transition: all 0.4s ease;
}

.btn--primary:hover {
  opacity: 0.75;
}

.hidden {
  display: none;
}

body {
  font-family: var(--font-primary);
}

body.login-container {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.login {
  width: 90%;
  max-width: 340px;
  text-align: center;
}

.login-icon {
  width: 3rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.5rem;
  color: var(--color-white);
  margin: 0 auto 1.5rem;
}

.login-icon svg {
  width: 1.25rem;
}

.login-title {
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
  font-weight: 500;
}

.login-subtitle {
  font-size: 0.875rem;
  color: oklch(55.1% 0.027 264.364deg);
}

.form-login-submit {
  width: 100%;
}

.form-login-body {
  display: grid;
  gap: 1rem;
  margin: 2rem 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  height: 6rem;
}

.header-logo {
  font-size: 1.125rem;
  color: var(--color-primary);
  font-weight: 500;
}


.header-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  font-size: 0.75rem;
  color: var(--color-primary);
}

.profile {
  width: 2.5rem;
  aspect-ratio: 1;
  background-color: var(--color-primary-light);
  display: grid;
  place-items: center;
  border-radius: 50%;
  font-weight: 500;
  font-size: 1rem;
}

.profile-name{
  text-transform: uppercase;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 2rem;
  left: 0;
  right: 0;
  width: max-content;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(2px);
  padding: .375rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(198, 33, 165, 0.14);
}

.main-nav-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  color: var(--color-gray-100);
  transition: all 0.4s ease;
  border-radius: 10px;
  font-weight: 500;
}

.main-nav-item:hover {
  color: var(--color-primary);
}

.main-nav-item.active {
  color: var(--color-primary);
  background-color: var(--color-primary-light);
}

.main-nav-item svg {
  width: 1rem;
}
.main-nav-separator{
  width: 1px;
  height: 1.5rem;
  margin-inline: .5rem;
  background-color: var(--color-border-input);
}

.main {
  margin-top: 2rem;
  padding: 1.5rem;
  border-radius: 12px;
  background-color: var(--color-white);
  border: 1px solid var(--color-border-input);
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header-title {
  font-size: 1.25rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.main-header-btn {
  padding-block: 0.75rem;
}

.main-body {
  margin-top: 1.5rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

.main-body--users {
  grid-template-columns: 1fr;
}

.rol {
  border: 1px solid var(--color-border-input);
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
}

.rol-actions {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.btn-icon {
  display: flex;
  width: 2.5rem;
  aspect-ratio: 1;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  border: 1px solid var(--color-border-input);
  border-radius: 4px;
  transition: all 0.4s ease;
}

.btn-icon:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.btn-icon svg {
  width: 1rem;
}

.user, .product, .preview {
  border: 1px solid var(--color-border-input);
  padding: 1rem;
  border-radius: 8px;
}

.user-body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}

.user-information {
  line-height: 1.5;
}

.user-name {
  font-size: 1.125rem;
  font-weight: 500;
}

.user-text {
  font-size: 0.875rem;
  color: var(--color-gray-100);
}

.user-copy {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.user-text-copy {
  color: var(--color-primary);
}

.user-copy svg {
  width: 1rem;
  color: var(--color-primary);
}

.user-copy-btn svg {
  transition: all 0.4s ease;
}

.user-copy-btn:hover svg {
  opacity: 0.5;
}

.user-badge {
  font-size: 0.75rem;
  color: var(--color-primary);
  background-color: var(--color-primary-light);
  padding: 0.25rem 0.75rem;
  border-radius: 30px;
  font-weight: 500;
}

.user-footer, .user-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
}

.user-footer-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--color-primary);
  font-size: 0.875rem;
  font-weight: 500;
  padding: 0.125rem 0;
}
.user-footer-link svg {
  width: 1rem;
}
.user-footer-link:hover {
  border-bottom: 1px solid var(--color-primary);
}

.product-header {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.product-icon,.invoice-add-icon {
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-items: center;
  border-radius: 6px;
  background-color: var(--color-primary-light);
  font-size: 1rem;
  color: var(--color-primary);
}

:is(.product-icon,.invoice-add-icon) svg {
  width: 1rem;
}

.product-actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.product-body {
  margin-top: 1.5rem;
}

.product-name {
  font-size: 1.125rem;
  font-weight: 600;
}

.product-text {
  font-size: 0.875rem;
  color: var(--color-gray-100);
  line-height: 1.5;
  margin-top: 0.25rem;
}

.product-price {
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 0.75rem;
}

.main-body--invoices {
  grid-template-columns: repeat(2, 1fr);
}

.invoice {
  border: 1px solid var(--color-border-input);
  border-radius: 8px;
}

.invoice-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
}

.invoice-number {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--color-primary);
}

.invoice-date {
  font-size: 0.875rem;
  color: var(--color-gray-100);
}

.invoice-body {
  border-top: 2px dashed var(--color-border-input);
  padding: 1rem;
  border-bottom: 2px dashed var(--color-border-input);
  line-height: 1.5;
}

.invoice-subtitle {
  font-weight: 500;
  margin-bottom: 0.75rem;
}

.invoice-text {
  font-size: 0.875rem;
  color: var(--color-gray-100);
}

.invoice-products {
  padding: 1rem;
}

.invoice-products-list-items {
  list-style: none;
  font-size: 0.875rem;
}

.invoice-products-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.375rem 0;
  font-weight: 500;
  color: var(--color-gray-100);
}

.invoice-products-footer{
  padding: 1rem 0;
  border-top: 1px solid var(--color-border-input);
  margin-top: 1.5rem;
  display: grid;
  gap: .5rem;
}

.invoice-products-total, .invoice-products-subtotal, .invoice-products-iva{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  font-weight: 500;
}

.invoice-products-total--spacing{
  margin-top: 1rem;
}
.invoice-products-footer.hidden{
  display: none;
}

.invoice-products-subtotal, .invoice-products-iva{
  font-size: .875rem;
  color: var(--color-gray-100);
}

.invoice-products-submit{
  margin-left: auto;
  margin-top: 1rem;
}

.invoice-products-btn {
  width: 100%;
  padding: 0.875rem;
  margin-top: 1.25rem;
}

.preview-header {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding-bottom: 1rem;
}

.preview-title {
  font-size: 1.125rem;
  font-weight: 500;
}

.preview-number {
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-primary);
}

.preview-logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 0.875rem;
  font-weight: 500;
}

.preview-icon {
  width: 2rem;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  border-radius: 6px;
  background-color: var(--color-primary-light);
  font-size: 1rem;
  color: var(--color-primary);
}

.preview-icon svg {
  width: 1rem;
}

.preview-information {
  padding: 1rem 0;
  border-top: 1px solid var(--color-border-input);
  border-bottom: 1px solid var(--color-border-input);
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1.5;
}

.preview-text {
  font-size: 0.875rem;
}

.preview-text-gray {
  color: var(--color-gray-100);
}

.preview-text-strong {
  font-weight: 500;
  font-size: 1rem;
}

.preview-client {
  line-height: 1.5;
  padding: 1rem 0;
}

.preview-table {
  width: 100%;
  border-collapse: collapse;
}

.preview-table thead {
  text-align: left;
  border-bottom: 1px solid var(--color-border-input);
}

.preview-table th {
  padding: 1rem 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--color-gray-100);
}

.preview-table td {
  padding: 0.75rem 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
}

.preview-table tr {
  border-bottom: 1px solid var(--color-border-input);
}

.preview-total {
  padding: 1rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}


.preview-total-text {
  font-weight: 500;
  color: var(--color-primary);
}

.message{
  padding: 1rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: .875rem;
  font-weight: 500;
  font-size: .875rem;
}

.message svg{
  width: 1.25rem;
}

.message--success{
  background-color: var(--color-bg-success);
  color: var(--color-text-success);
  border: 1px solid var(--color-border-success);
}

.message--error{
  background-color: var(--color-bg-error);
  color: var(--color-text-error);
  border: 1px solid var(--color-border-error);
}

.message--y-4{
  margin: 1rem 0;
}

.card{
  max-width: 500px;
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: 8px;
  background-color: var(--color-white);
  border: 1px solid var(--color-border-input);
}

.card-text{
  color: var(--color-gray-100);
  font-size: 0.875rem;
  margin-top: 0.125rem;
}
.card-form{
  margin-top: 1rem;
}

.card-btn{
  margin-top: 1rem;
  width: 100%;
}

.card-form-group{
  display: grid;
  gap: 1rem;
}

.invoices{
  border: 1px solid var(--color-border-input);
  padding: 1rem;
  border-radius: 8px;
}

.invoice-items{
  display: grid;
  gap: 1rem;
}

.invoice-row{
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

.invoice-subtitle{
  font-size: 1rem;
  margin-bottom: 1rem;
}
.invoice-products-list{
  display: grid;
  gap: .5rem;
}


.invoice-products-item-add{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 1rem;
}

.invoice-products-add{
  padding: .5rem 1rem;
  border-radius: 4px;
  font-size: .75rem;
  border: 1px solid var(--color-border-input);
  transition: all 0.4s ease;
  margin-top: 1rem;
  font-weight: 500;
}

.invoice-products-add:hover{
  opacity: 0.5;
}

.main--invoices{
  padding: 0;
  border: 0;
}

.invoices-add-header{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.invoice-add-title{
  font-size: 1.125rem;
  font-weight: 500;

}

/*# sourceMappingURL=styles.css.map */
